<form class="formAddLink" action="/links/add" method="POST">
    <div class="container-form-control">
        <input name="title" type="text" placeholder="Title">
    </div>
    <div class="container-form-control">
        <input name="url" type="text" placeholder="Url">
    </div>
    <div class="container-form-control">
        <textarea name="description" class="form-control" rows="10" placeholder="Description"></textarea>
    </div>
    <input type="submit" value="Add" class="button">
</form>