<form class="formSignUpLink" action="/signup" method="POST">
    <div class="container-form-control">
        <input name="fullname" type="text" class="form-control" placeholder="Fullname">
    </div>
    <div class="container-form-control">
        <input name="user" type="text" class="form-control" placeholder="User">
    </div>
    <div class="container-form-control">
        <input name="password" type="password" class="form-control" rows="10" placeholder="Password"></input>
    </div>
    <input type="submit" value="Add" class="button">
</form>